#menu{
    position: -webkit-sticky;
    
}

.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
  }

  table{
    border: 2px solid black;
    border-collapse: collapse;
}
.card{
    margin: 5px;
}
